
<template name="searchPage">

	{{#if pdfVisible}}
		{{> pdfViewer}}
	{{/if}}


		
		<div class="header search">
			{{> searchHeader}}
		</div>

		<div class="middle patent-view">
			<div class="container felt image">
					<div class="align top">
						<div class="content patents search">
							{{#if resultCheck}}
								<div id="content-slider" class="royalSlider rsDefault search-results">
							    {{#each results}}
							      {{> patentItem}}
							    {{/each}}
							  </div>
						  {{else}}

						  	{{#if loadingCheck}}

								{{else}}
							  	<div class="no-patents">
							  		<p id="status-message">Search for anything!<br>"Transformable lunchbox robot"</p>
							  	</div>
								{{/if}}

						  {{/if}}
					  </div>
					 </div>
					</div>
				</div>




	{{#if resultCheck}}
		<div class="button-holder">
			<div id="add-button" class="big-button">
				<div class="ss-icon">Plus</div>
			</div>
		</div>
	{{else}}
		{{#if loadingCheck}}
		<div class="button-holder">
			<div id="search-button" class="big-button">
				<img src="/felt-spinner.gif"/>
			</div>
		</div>		
		{{else}}
		<div class="button-holder">
			<div id="search-button" class="big-button">
				<div class="ss-icon">Search</div>
			</div>
		</div>
		{{/if}}
	{{/if}}

</template>