
<template name="searchPage">

	<div class="header">
		{{#if addPatent}}
			{{> addPatentHeader}}
		{{else}}
			{{> searchHeader}}
		{{/if}}
	</div>

	<div class="content search">
	 		<div class="container">
	 				<div class="align top">	
	 					{{#if addPatent}}
	 						{{> newDeckInput}}

							{{#if checkUserDecks}}

				 				{{#each decks}}
				 					{{> deckItem}}
				 				{{/each}}

				 			{{else}}
				 				<p class="notification">Create a deck to add your patent too!</p>
				 			{{/if}}

	 					{{else}}
			 				{{#if searchResults}}
									<div class="royalSliderWrap">
										<div class="royalSlider rsDefault">
									    {{#each results}}
									      {{> patentItem}}
									    {{/each}}
								  	</div>
								 </div>
			 					{{else}}
			 						{{#if loadingCheck}}
			 							<img src="/loading-spinner.gif"/>
			 						{{else}}
			 							<p class="notification">Try searching for:<br>Transformable Lunchbox Robot?</p>
			 						{{/if}}
			 				{{/if}}
			 			{{/if}}
	 				</div>
	 		</div>
	</div>

	{{#if addPatent}}
	{{else}}
		<div class="footer">
			{{#if searchResults}}
			 	<div id="add-patent" class="big-button"><span class="ss-icon">Plus</span></div>
			{{else}}
			 	<div id="submit-search" class="big-button"><span class="ss-icon">Search</span></div>
			{{/if}}
		</div>
	{{/if}}
		
</template>