
<template name="deckInput">
	<form id="deck-input-form">
		<div class="deck-inputs">
			<textarea id="title-field" class="big-field" placeholder="Deck title..." rows="1" cols="1"></textarea> <br>
			<textarea id="description-field" class="small-field" placeholder="Description (optional)..." rows="1" cols="1"></textarea>
		</div>
		{{#if currentPatent}}
			<div class="deck-controls">
				<h2 id="submit-deck" class="ss-icon">Plus</h2>
				<h2 id="cancel-deck" class="ss-icon">Delete</h2>
			</div>
		{{else}}
			<div class="deck-controls">
				<h2 id="submit-deck" class="ss-icon">Plus</h2>
			</div>
		{{/if}}
		<input type="submit" id="submit-button"/>
	</form>
</template>