
<template name="deckItem">
	<div class="deck">
		<p id="deck-count" class="right">{{count}}</p>
		{{#if currentPatent}}
  		<h2 id="deck-link" class="deck-label-name">{{name}}</h2>
  	{{else}}
  		<h2 class="deck-label-name deck-name">{{name}}</h2>
  	{{/if}}
  	<p class="deck-label-description">{{description}}</p>
  	<p class="time">{{lastUpdated}}</p>
    {{#if loggedIn}}
    	{{#if currentPatent}}
    		<p id="delete-deck" class="ss-icon right">trash</p>
    	{{/if}}
    {{/if}}
  </div>
</template>