
$patdex-green: #00D38C;

$patdex-red: #E36055;
$patdex-blue: #62C7FF;

$patdex-lightest-grey: #EAEAEA;
$patdex-light-grey: #CBCBCB;
$patdex-grey: #9C9C9C;
$patdex-dark-grey: #515151;

$patdex-white: #fff;

$patdex-shadow: rgba(0,0,0,0.15);