
* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

@font-face {
  font-family: "SSGizmo";
  src: url('/fonts/ss-gizmo.eot');
  src: url('/fonts/ss-gizmo.eot?#iefix') format('embedded-opentype'),
       url('/fonts/ss-gizmo.woff') format('woff'),
       url('/fonts/ss-gizmo.ttf')  format('truetype'),
       url('/fonts/ss-gizmo.svg#SSGizmo') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ss-icon, .ss-icon.ss-gizmo,
[class^="ss-"]:before, [class*=" ss-"]:before,
[class^="ss-"].ss-gizmo:before, [class*=" ss-"].ss-gizmo:before,
[class^="ss-"].right:after, [class*=" ss-"].right:after,
[class^="ss-"].ss-gizmo.right:after, [class*=" ss-"].ss-gizmo.right:after {
  font-family: "SSGizmo";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

$patdex-green: #00D38C;
$layout-unit: 3em;
$super-text: 3em;
$heading-text: 1.5em;
$tiny-text: 0.7em;

@mixin transition($element, $time) {
  -webkit-transition: $element $time ease;
  -moz-transition: $element $time ease;
  -ms-transition: $element $time ease;
  -o-transition: $element $time ease;
  transition: $element $time ease;
}

@mixin rounded($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	font-family: "AvenirNext-Regular", "HelveticaNeue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: $patdex-green;
	overflow: hidden;
}

a,
a:visited {
	text-decoration: none;
	color: #fff;
}

input, textarea {
	font-family: "AvenirNext-Regular", "HelveticaNeue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	border: none;
	color: $patdex-green;
	height: 2.5em;
	border-radius: 2.5em;
	margin-top: 0em;
	margin-bottom: 0.5em;
	width: 100%;
	text-indent: 1em;
}

input:focus, textarea:focus {
	outline: none;
}

::-webkit-input-placeholder {
	color: #CBCBCB;
}


.page {
	@include transition(all, 0.5s);
	position: relative;
	height: 100%;
	min-width: 320px;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.drawer {
	@include transition(all, 0.5s);
	display: table;
	position: absolute;
	z-index: 2000;
	bottom: -6em;
	height: 6em;
	width: 100%;
	background-color: #F1F1F1; 

	img {
		margin-top: 1em;
		vertical-align: top;
		margin-right: 1em;
	}
	.drawer-text {
		margin-top: 1em;
		display: inline-block;
		text-align: left;
		color: #929292;
		margin-bottom: 0;
		line-height: 1.2em;
	}

}

.header {
	position: absolute;
	z-index: 1000;
	top: 0;
	height: $layout-unit + 0.5em;
	width: 100%;
	color: #fff;
	background-color: rgba(0,211,140,0.8);
	.header-left, .header-right {
		cursor: pointer;
		padding-top: 0.5em;
		font-size: $heading-text;
	}
	.header-middle {
		padding-top: 0.5em;
		width: 100%;
		font-size: $heading-text;
		&.search {
			padding-top: 0.3em;
			float: right;
			width: 90%;
			padding-left: 0.5em;
			padding-right: 0.5em;
			@media screen and (max-width: 500px) {
				width: 85%;
			}
		}
		&.patent-number {
			padding-top: 1em;
			font-size: 1em;
		}
	}
	.header-left {
		float: left;
		padding-left: 1em;
		text-align: left;
		&.search-input-cap {
			position: absolute;
			top: 7px;
			left: 15px;
			height: 40px;
			width: 2.5em;
			border-radius: 2em 0em 0em 2em;
			color: #EBEBEB;
			padding-top: 6px;
			padding-left: 0.5em;
			background-color: #fff;
		}
	}
	.header-right {
		float: right;
		padding-right: 1em;
		text-align: right;
	}
}

.content {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	padding-top: $layout-unit + 1em;
	padding-bottom: $layout-unit + 1em;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	background: $patdex-green url('/logo-dark.svg') no-repeat center;
	.container {
		display: table;
		height: 100%;
		width: 100%;
		.align {
			display: table-cell;
			position: relative;
			&.top { vertical-align: top; }
			&.middle { vertical-align: middle; }
			&.bottom { vertical-align: bottom; }
		}
	}
	.notification {
		margin-top: 0;
		color: #fff;
		&.s-emphasis {
			font-size: $heading-text;
		}
	}
	&.deck-contents {
		padding-bottom: 3em;
	}
	&.search {
		padding-top: 5em; 
		padding-bottom: 3em;
		.rsBullets {
			top: 55px;
		}
	}
	&.no-header {
		padding: 0;
		background: $patdex-green;
	}
}

.deck,
.patent {
	border-radius: 1em;
	padding: 1em;
	text-align: left;
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 1em;
	background-color: #fff;
	padding-top: 1.5em;
	box-shadow: inset 0px 5px 0px 0px #D6D6D6, inset 0px 10px 0px 0px #EAEAEA, 0px 5px 0px 0px rgba(0,0,0,0.15);

	.deck-header, 
	.deck-footer {
		width: 100%;
		.deck-label, 
		.deck-description, 
		.deck-timestamp {
			display: inline-block;
			width: 80%;
		}
		.deck-counter, 
		.deck-delete {
			display: inline-block;
			width: 20%;
			text-align: right;
		}
	}

	.deck-label, 
	.deck-description {
		margin-bottom: 0.5em;
	}

	.deck-description {
		color: #929292;
		line-height: 1.2em;
	}

	.deck-counter {
		vertical-align: top;
	}

	.deck-label, 
	.deck-counter {
		cursor: pointer;
		font-size: $heading-text;
		color: $patdex-green;
		line-height: 1em;
	}

	.deck-timestamp {
		vertical-align: top;
		font-size: $tiny-text;
		color: #CBCBCB;
	}

	.deck-delete {
		cursor: pointer;
		color: #EBEBEB;
	}

}

.patent {
	padding: 0;
	max-height: 99%;
	overflow: auto;
	-webkit-overflow-scroll: touch;
	box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.15);
	color: #929292;
	.patent-header {
		font-size: 1.3em;
		border-bottom: 1px solid #EBEBEB;
		.patent-title {
			width: 80%;
		}
		.patent-number {
			color: #CBCBCB;
			font-size: $tiny-text;
		}
		.pdf-link {
			color: $patdex-green;
			float: right;
			font-size: $heading-text;
		}
	}
	.patent-header,
	.patent-biblio,
	.patent-body,
	.patent-footer {
		padding-top: 1em;
		padding-left: 1em;
		padding-right: 1em;
		padding-bottom: 1em;
	}
	.patent-biblio {
		border-bottom: 1px solid #EBEBEB;
		line-height: 1.5em;
		font-size: 0.8em;
		p { margin: 0; }
		.key { 
			color: #CBCBCB;
			vertical-align: top;
			padding-right: 1em; 
		}
		tr { padding-bottom: 1em; }
	}
	.patent-footer {
		padding-top: 0;
		font-size: 0.8em;
		color: #CBCBCB;
		#delete-patent {
			float: right;
			padding-right: 0.3em;
			padding-bottom: 0.3em;
			font-size: 2.3em;	
			cursor: pointer;
			color: #EBEBEB;	
		}
	}
}

.new-deck {
	background-color: #18A570;
	box-shadow: none;
	.deck-label-input,
	.deck-description-input {
		text-indent: 0;
		border-radius: 0;
		color: #fff;
		background: none;
		margin: 0;
		width: 80%;
		&::-webkit-input-placeholder {
			color: $patdex-green;
		}
	}
	.deck-label-input {
		height: $heading-text;
		line-height: 1em;
		font-size: $heading-text;
	}
	.deck-description-input {
		height: 1.5em;
	}
	.submit-deck,
	.cancel-deck {
		cursor: pointer;
		width: 10%;
		float: right;
		text-align: right;
		font-size: $heading-text;
		color: rgba(0,0,0,0.15);
		&.s-active {
			color: #fff;
		}
	}
}

.beta-banner-wrapper {
	@include transition(all, 0.5s);
	cursor: pointer;
	z-index: 2000;
	position: absolute;
	overflow: hidden;
	width: 105px;
	height: 105px;
	bottom: 0px;
	left: 0px;
	.beta-banner {
		position: absolute;
		right: -34px;
		top: 48px;
		display: block;
		width: 200px;
		text-align: center;
		font-size: 1.5em;
		line-height: 1.5em;
		color: #fff;
		background-color: #FC6B5F;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
	}
}

.logo {
	color: #fff;
	.logo-text {
		font-size: $super-text;
		margin: 0;
	}
	.logo-byline {
		margin: 0;
		margin-bottom: 1em;
	}
}

#share-deck {
	cursor: default;
	color: rgba(0,0,0,0.15);
}

#search-input {
	background: #fff url('/search-icon-green.svg') 98% center no-repeat;
	padding-right: 2.5em;
	text-indent: 0.5em;
	border-radius: 0em 2em 2em 0em;
}

#login-form {
	padding-left: 1em;
	padding-right: 1em;
}

#status-message {
	font-family: "AvenirNext-Light", "HelveticaNeue", Helvetica, Arial, sans-serif;
	color: #fff;
	&.error {
		color: #FC6B5F;
	}
}

#login-username-input {
	background: #fff url('/user-icon-green.svg') no-repeat 0.5em 0.3em;
	text-indent: 2.5em;
	&.error {
		background: #FC6B5F url('/user-icon-white.svg') no-repeat 0.5em 0.3em;
		color: #fff;
		&::-webkit-input-placeholder {
			color: rgba(0,0,0,0.25);
		}
	}
	&:disabled {
		opacity: 1;
		color: $patdex-green;
		background: rgba(0,0,0,0.15) url('/user-icon-green.svg') no-repeat 0.5em 0.3em;
	}
}

#login-password-input {
	background: #fff url('/lock-icon-green.svg') no-repeat 0.5em 0.3em;;
	text-indent: 2.5em;
	&.error {
		background: #FC6B5F url('/lock-icon-white.svg') no-repeat 0.5em 0.3em;
		color: #fff;
		&::-webkit-input-placeholder {
			color: rgba(0,0,0,0.25);
		}
	}
	&:disabled {
		opacity: 1;
		color: $patdex-green;
		background: rgba(0,0,0,0.15) url('/lock-icon-green.svg') no-repeat 0.5em 0.3em;
	}
}

.profile-image {
	@include rounded(150px);
	cursor: pointer;
	display: inline-block;
	width: 150px;
	height: 150px;
	background: url("/user-profile.svg") no-repeat;
	margin-bottom: 1.5em;
	img {
		opacity: 0;
	}
}

.membership {
	margin-top: -0.5em;
	color: rgba(0,0,0,0.15);
}

.footer {
	position: absolute;
	bottom: 0;
	height: $layout-unit;
	width: 100%;
}

.big-button {
	cursor: pointer;
	display: table;
	position: relative;
	left: 50%;
	font-size: $heading-text;
	height: $layout-unit; 
	width: $layout-unit;
	margin-top: -$layout-unit/2 - 0.5em;
	margin-left: -$layout-unit/2;
	border-radius: $layout-unit;
	border: 0.2em solid #fff;
	background-color: rgba(0,211,140,0.8);
	box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.15);
	.ss-icon {
		display: table-cell;
		color: #fff;
		text-align: center;
		vertical-align: middle;
	}
}

.submit-button {
	position: absolute; 
	left: -9999px
}

.slideUp {
	bottom: 6em;
	&.drawer {
		bottom: 0em;
	}
}

.s-hidden {
	display: none;
}

