* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

@font-face {
	font-family: UbuntuTitling-Bold;
	src: url('/fonts/UbuntuTitling-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SSPika";
  src: url('/fonts/ss-pika.eot');
  src: url('/fonts/ss-pika.eot?#iefix') format('embedded-opentype'),
       url('/fonts/ss-pika.woff') format('woff'),
       url('/fonts/ss-pika.ttf')  format('truetype'),
       url('/fonts/ss-pika.svg#SSPika') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ss-icon, .ss-icon.ss-pika,
[class^="ss-"]:before, [class*=" ss-"]:before,
[class^="ss-"].ss-pika:before, [class*=" ss-"].ss-pika:before,
[class^="ss-"].right:after, [class*=" ss-"].right:after,
[class^="ss-"].ss-pika.right:after, [class*=" ss-"].ss-pika.right:after {
  font-family: "SSPika";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	font-family: UbuntuTitling-Bold, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

h1 {
	font-size: 3.5em;
	margin-top: 0.1em;
	margin-bottom: 0em;
}

h3 {
	margin-top: 0em;
}

p {
	margin-top: 0.5em;
}

input {
	font-family: UbuntuTitling-Bold, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 18px;
	border: none;
	color: #00D38C;
	height: 2.5em;
	border-radius: 2.5em;
	margin-top: 0em;
	margin-bottom: 0.5em;
	width: 300px;
	text-indent: 1em;
}

input:focus, textarea:focus {
	outline: none;
}

::-webkit-input-placeholder {
	color: #EBEBEB;
}

.error::-webkit-input-placeholder {
	color: #E36055;
}

#submit-button {
	position: absolute; 
	left: -9999px
}

.page {
	width: 100%;
	height: 100%;
	display: table;
}

.container {
	text-align: center;
	width: 100%;
	height: 100%;
}

.container.felt.image {
	background: #00D38C url('/logo-dark.svg') no-repeat center;
}

.container.center {
	display: table-cell;
	vertical-align: middle;
}

.container.felt {
	background-color: #00D38C;
	color: #fff;
}

.container.carbon {
	background-color: #515151;
	color: #fff;
}

.container.carbon h1 {
	color: #00D38C;
}

.app-icon {
	margin-top: 1em;
	margin-bottom: 1em;
}

.error {
	background-color: #FC6B5F;
}

.thinking {
	background-color: #62C7FF;
}

.big-button {
	cursor: pointer;
	display: table;
	margin-left: auto;
	margin-right: auto;
	width: 4em;
	height: 4em;
	border-radius: 4em;
	border: 0.3em solid #fff;
  -moz-box-shadow:    0px 8px 0px 0px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0px 8px 0px 0px rgba(0,0,0,0.15);
  box-shadow:         0px 8px 0px 0px rgba(0,0,0,0.15);
}

.big-button .ss-icon {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 2em;
	color: #fff;
}

.container.felt h2 {
	color: #00A06A;
}

.container.felt h2.s-active {
	color: #fff;
}

.decks {
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}

.deck, .patent {
	background-color: #fff;
	border-radius: 1em;
	padding: 1em;
	text-align: left;
	margin-top: 1em;
	margin-bottom: 1em;
	-webkit-box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.15);
}

.deck {
	-webkit-box-shadow: inset 0px 5px 0px 0px #D6D6D6, inset 0px 10px 0px 0px #EAEAEA, 0px 5px 0px 0px rgba(0,0,0,0.15);
	box-shadow: inset 0px 5px 0px 0px #D6D6D6, inset 0px 10px 0px 0px #EAEAEA, 0px 5px 0px 0px rgba(0,0,0,0.15);
}

.container .deck h2 {
	color: #00D38C;
	margin-top: 0.5em;
	margin-bottom: 0;
}



.deck p, .patent p {
	color: #9C9C9C;
	font-size: 0.875em;
	margin-bottom: 0;
}

.deck .time {
	color: #EBEBEB;
}

.deck .right, .patent .right {
	padding-right: 0.2em;
	float: right;
}

.deck .right.ss-icon, .patent .right.ss-icon {
	cursor: pointer;
	padding-right: 0em;
	font-size: 1.5em;
	margin-top: -0.3em;
}

.header {
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 3em;
	line-height: 4em;
}

.header h2 {
	display: inline;
	margin-top: 0;
	margin-bottom: 0;
}

.header .left {
	cursor: pointer;
	padding-left: 0.5em;
	float: left;
}

.header .right {
	cursor: pointer;
	padding-right: 0.5em;
	float: right;
}

#logout {
	cursor: pointer;
}

.s-hidden {
	display: none;
}

#deck-input-form {
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	background-color: #00A06A;
	border-radius: 1em;
	padding: 1em;
	text-align: left;
	margin-top: 1em;
	margin-bottom: 1em;
	-webkit-box-shadow: inset 0px 5px 0px 0px #00905F;
	box-shadow: inset 0px 5px 0px 0px #00905F;
}

#deck-input-form textarea {
	width: 200px;
	font-family: UbuntuTitling-Bold, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	border: none;
	color: #fff;
	background-color: #00A06A;
	height: 1em;
}

#deck-input-form textarea::-webkit-input-placeholder {
	color: #00D38C;
}

.big-field {
	font-size: 24px;
}

.small-field {
	font-size: 14px;
}

#title-field {
	margin-top: 0.5em;
	margin-bottom: 0.3em;
}

#deck-input-form div {
	display: inline-block;
}

.deck-controls {
	margin-top: -1em;
	float: right;
}

#submit-deck {
	cursor: pointer;
	padding-top: 0.2em;
	color: #fff;
}

#cancel-deck {
	cursor: pointer;
	margin-top: -1em;
	color: #00D38C;
}

.button-holder, .pdf-viewer-cancel {
	position: fixed;
	left: 0;
	width: 100%;
	bottom: 2em;
	margin: 0;
	padding: 0;
}

.button-holder {
	z-index: 1000;
}

.pdf-viewer-cancel {
	z-index: 2000;
}

#search-button, #add-button, #cancel-button {
	cursor: pointer;
	background-color: #00D38C;
}

.deck-label-name, .deck-label-description {
	width: 200px;
}

#deck-count {
	color: #00D38C;
	font-size: 1.5em;
}

#delete-deck, #remove-patent {
	margin-top: -1em;
	color: #EAEAEA;
}


/*---------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/

.container .patent h1 {
	font-size: 1.2em;
	color: #515151;
	margin-top: 0em;
	margin-bottom: 0;
	width: 200px;
}

.patent h1 .number {
	color: #CBCBCB;
	font-size: 0.7em;
}

.patent {
	margin-left: auto;
	margin-right: auto;
	padding: 1.5em;
	width: 300px;
	height: 420px;
	overflow: auto;
}

.patents {
	width: 100%;
}

.patent-header, .patent-biblio {
	padding-bottom: 1em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	margin-left: -1.5em;
	margin-right: -1.5em;
	border-bottom: 1px solid #EAEAEA;
}

.patent-biblio, .patent-body {
	padding-top: 1em;
}

.patent-biblio .biblio-maxi table {
	color: #9C9C9C;
	border: none;
	width: 100%;
	font-size: 1em;
}

.biblio-maxi p.grey {
	color: #CBCBCB;
}

table td {
	vertical-align: top;
}

.grey {
	color: #CBCBCB;
}

.patent-footer p {
	padding-top: 1em;
	color: #EAEAEA;
}


#pdf-link .ss-icon, .patent .expand-biblio {
	padding-top: 0.5em;
	color: #00D38C;
}

.no-patents {
	padding-top: 0.5em;
	display: table;
	width: 100%;
}

.no-patents h2 {
	display: table-cell;
	vertical-align: middle;
}

/*---------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/

.header.search {
	padding-top: 0.5em;
	height: 3.5em;
	line-height: 3.25em;
}

#search-form {
	height: 100%;
	width: 300px;
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	border-radius: 4em;
	text-align: center;
	padding: 0px;
	-webkit-box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.15);
}

#search-submit, #add-submit {
	cursor: pointer;
	color: #00D38C;
	display: inline-block;
	float: right;
	margin-right: 0.5em;
	height: 100%;
}

#cancel-search, #cancel-add {
	cursor: pointer;
	color: #EAEAEA;
	display: inline-block;
	float: left;
	margin-left: 0.5em;
	height: 100%;
}

#search-field, #add-field {
	width: 220px;
	margin: 0;
	border-radius: 0;
	text-indent: 0;
	background: none;
}

#status-message {
	text-align: center;
	color: #fff;
}

#content-slider {
	width: 100%
}

.royalSlider {
	height: 472px;
}


#pdf-viewer {
	z-index: 1000;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}
