<template name="fullBiblio">

	<div class="biblio-maxi animated fadeInDown">
		
  	<table>
  		
  		{{#if publication}}
  		<tr>
  			<td><p class="grey">Publication Date</p></td>
  			<td><p>{{publication}}</p></td>
  		</tr>
  		{{/if}}

  		{{#if priority}}
  		<tr>
  			<td><p class="grey">Priority Date</p></td>
  			<td><p>{{priority}}</p></td>
  		</tr>
  		{{/if}}

	  	{{#if inventors}}
	  		<tr>
	  			<td><p class="grey">Inventor(s)</p></td>
	  			<td>
				  	{{#each inventors}}
			      	<p>{{this}}</p>
			    	{{/each}}	
	    		</td>
	    	</tr>
    	{{/if}}		

	  	{{#if applicants}}
	  		<tr>
	  			<td><p class="grey">Applicant(s)</p></td>
	  			<td>
				  	{{#each applicants}}
			      	<p>{{this}}</p>
			    	{{/each}}	
	    		</td>
	    	</tr>
    	{{/if}}	

	  	{{#if classifications}}
	  		<tr>
	  			<td><p class="grey">Classification(s)</p></td>
	  			<td>
				  	{{#each classifications}}
			      	<p>{{this}}</p>
			    	{{/each}}	
	    		</td>
	    	</tr>
    	{{/if}}	

  	</table>
	  
	</div>

</template>
