
<template name="landingPage">

 	<div class="content no-header">
 		<div class="container">
 			<div class="align middle">

 				<div class="logo">
	 				<img src="/logo-image.svg"/>
	 				<p class="logo-text">PatDex</p>
	 				<p class="logo-byline">Portable Patents</p>
	 			</div>

 				<form id="login-form">
					<input type="username" id="login-username-input" placeholder="Username..."/><br>
					<input type="password" id="login-password-input" placeholder="Password..."/><br>
					<p id="status-message">Enter a username &amp; password</p>
					<input type="submit" class="submit-button"/>
 				</form>


 			</div>
 		</div>
 	</div>

</template>