
<template name="loginPage">
    <div class="container felt center login">
        <div class="animated fadeIn">
            <img src="/logo.svg"/>
        	<h1>PatDex</h1>
        	<h3>Portable Patents</h3>
        	<form id="login-form">
                 <input type="username" id="username-field" placeholder="Username..."  /><br>
                 <input type="password" id="password-field" placeholder="Password..."  /><br>
                 <p id="status-message">Enter a username &amp; password</p>
                 {{#if loadingStatus}}
                    <div id="login-status" class="big-button"><img src="/felt-spinner.gif"/></div>
                 {{else}}
                    <div id="login-status" class="big-button error"><div class="ss-icon">Locked</div></div>
                 {{/if}}
                 <input type="submit" id="submit-button"/>
            </form>
        </div>
    </div>
</template>