
<template name="profilePage">

	<div class="container felt center">



			<div class="header profile">
				{{#if loggedIn}}
					<h2 id="user-decks" class="ss-icon s-active left">Rows</h2>
					<h2>My Profile</h2>
					<h2 id="post-feedback" class="ss-icon s-active right">Email</h2>
				{{else}}
					<h2 id="logout-button" class="ss-icon s-active left">Home</h2>
					<h2 class="s-active">{{username}}</h2>
					<h2 id="share-user" class="ss-icon right">Share</h2>
				{{/if}}
			</div>

			<div class="profile">

				<div class="profile-image">
					<img src="/user-profile.svg" alt="" />
				</div><br>

				{{#if loggedIn}}
					<input type="username" id="username-field" placeholder="" value="{{username}}"/><br>
					<input type="password" id="password-field" placeholder="" value="password" disabled/><br>
				{{else}}

				{{/if}}

				<p>Decks: {{deckAmount}} (Patents: {{patentAmount}})</p>
				<p class="membership">{{memberSince}}</p>

			</div>


	</div>

	{{#if loggedIn}}
		<div class="button-holder">
			<div id="logout-button" class="big-button"><div class="ss-icon">Delete</div></div>
		</div>
	{{else}}
		<div class="button-holder">
			<div id="user-decks" class="big-button"><div class="ss-icon">Rows</div></div>
		</div>
	{{/if}}

</template>